*.class
.classpath
.settings
.project
target
classes
artifact.info
log4j.properties
/target
.idea
*.iml
project/project
project/target
tmp
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/app/assets
logs/*
logs/
public/

